<div class="mt-10 bg-purple-300 border-t border-b border-purple-900 text-black-700 w-2/4 px-4 py-3 flex" role="alert">
    <p class="text-sm">Elige la cantidad de imágenes que deseas y te las mostraré con fechas random...</p>
</div>

<form class="formdesk w-full flex justify-center mt-20" [formGroup]="formRandom">
    <mat-form-field class="mr-7 w-5/12 text-warning-200" appearance="outline">
        <mat-label>¿Cuántas imágenes muestro?</mat-label>
        <input formControlName="count" type="text" matInput placeholder="Escribe solo un número...">
    </mat-form-field>
    <button (click)="generateImages()" mat-fab extended>Obtener imágenes</button>
</form>

<form class="formmobile w-full flex flex-col justify-center items-center mt-20" [formGroup]="formRandom">
    <mat-form-field class="mr-7 w-5/12 text-warning-200" appearance="outline">
        <mat-label>¿Cuántas?</mat-label>
        <input formControlName="count" type="text" matInput placeholder="Un número...">
    </mat-form-field>
    <button (click)="generateImages()" mat-fab extended>Obtener imágenes</button>
</form>

<article *ngIf="ok" class="flex flex-col items-center justify-center">
    <div *ngFor="let image of data"
        class="my-16 w-3/4 bg-purple-800 bg-opacity-20 rounded-2xl overflow-hidden shadow-2xl shadow-zinc-800">
        <div class="flex items-center justify-between my-4">
            <div class="font-bold text-xl mx-7">{{image.title}}</div>
            <div class="text-base mx-7">{{image.date}}</div>
        </div>
        <div class="flex flex-col items-center justify-center">
            <img class="h-1/3 w-3/4 rounded-lg" src="{{image.url}}" alt="APOD">
            <a href="{{image.url}}" target="_blank"><button
                    class="mt-4 bg-transparent hover:bg-purple-800 text-black-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">Ver
                    en otra pestaña</button></a>
        </div>
        <div class="px-6 py-4">
            <p class="text-black text-base my-4">{{image.explanation}}</p>
        </div>
        <div class="px-6 pt-4 pb-2">
            <span
                class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Créditos
                de imagen y derechos de autor: <p>{{image.copyright}}</p></span>
        </div>
    </div>
</article>

<div *ngIf="!ok" class="m-10">
    <div role="alert">
        <div class="bg-red-500 text-white font-bold rounded-t px-4 py-2">
            Algo ha salido mal :(
        </div>
        <div class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700">
            <p>Parece que el servidor está experimentando problemas, porfavor intenta nuevamente luego...</p>
        </div>
    </div>
</div>